#weather-dashboard{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: rgb(69, 9, 124);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}